@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: PoppinsFont;
    src: url(./poppins-medium-webfont.woff2) format('woff2'),
    url(./poppins-medium-webfont.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: PoppinsFont, sans-serif;
}

html{
    overflow-x: hidden;
    font-size: 80%;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky {
    background: #081b29;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}


.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

#menu-icon {
    font-size: 3.6rem;
    color: #ededed;
    cursor: pointer;
    display: none;
}

.home {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.4s;
}

.home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.6s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.8s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.0s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    width: 145px;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 17px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
    position: relative;
}

.btn-box a:nth-child(2):hover {
    color: #ededed;
}

.btn-box a:nth-child(2)::before {
    color: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1; 
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #112e42;
    padding-bottom: 6rem;
}

.heading {
    font-size: 3.8rem;
    margin-top: 7rem;
    text-align: center;
}

span{
    color: #00abf0;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5rem;
}

.about-img img{
    width: 60%;
    border-radius: 50%;
    border: .3rem solid #00abf0;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border-top: .2rem solid #112e42;
    border-bottom: .2rem solid #112e42;
    border-left: .3rem solid #00abf0;
    border-right: .3rem solid #00abf0;
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3{
    font-size: 2rem;
    margin-top: -4.2rem;
}

.about-content p{
    font-size: 1.3rem;
    margin: 2rem 13rem 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 14rem;
}

.contact .btn-box.btns {
    display: inline-block;
    width: 13rem;
    height: 3rem;
    font-size: 2rem;
}

.btn-box.btns a::before{
    background: #112e42;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.projects a {
    font-size: 1.2rem;
    height: 2.9rem;
}

.projects .project-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 4rem;
}

.project-row .project-column{
    flex: 1 1 20rem;
    width: 40rem;
}

.project-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.project-column .project-box{
    border-left: .2rem solid #00abf0;
}

.project-box .project-content{
    position: relative;
    padding-left: 2rem;
}

.project-box .project-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.77rem;
    width: 1.4rem;
    height: 1.4rem;
    background: #00abf0;
    border-radius: 50%;
}

.project-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
}

.content h3{
    font-size: 1.7rem;
}

.content p{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}

.contact{
    min-height: auto;
    padding-top: 1.8rem;
    padding-bottom: 7rem;
    background: #112e42;
}

.contact h2{
    margin-bottom: 3.5rem;
}

.contact form{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #ededed;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #ededed;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
}

.footer-text p{
    font-size: 1.3rem;
} 

@media (max-width: 1200px) {
    html {
        font-size: 65%;
    }

    .projects a {
        font-size: 1.4rem;
        width: 97%;
        height: 3rem;
    }

    .content p {
        font-size: 1.35rem;
    }

    .about-img {
        width: 27.7rem;
        height: 27.7rem;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }

    .projects a {
        font-size: 1.5rem;
        width: 95%;
        height: 3rem;
    }

    .about-content p {
        margin: 2rem 4rem 3rem;
    }

    .content p {
        font-size: 1.3rem;
    }

    .about-img {
        width: 26.3rem;
        height: 26.3rem;
    }
}

@media (max-width: 768px) {
    .header {
        background: #081b29;
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #081b29;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .05s;
    }

    .home-content .btn-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 330px;
        height: 43px;
    }

    .home-content .btn-box a {
        font-size: 1.6rem;
    }

    .projects a {
        font-size: 1.38rem;
        width: 90%;
        height: 3rem;
    }

    .about-content p {
        margin: 2rem 3.2rem 3rem;
    }

    .content p {
        font-size: 1.1rem;
    }

    .about-img {
        width: 24.5rem;
        height: 24.5rem;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content .btn-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 320px;
        height: 41px;
    }

    .home-content .btn-box a {
        font-size: 1.9rem;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
        font-size: 45px;
    }

    .home-content h3 {
        font-size: 26px;
    }

    .home-content p {
        font-size: 15px;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .projects a {
        font-size: 1.3rem;
        width: 87%;
        height: 2.9rem;
    }

    .about-content p {
        margin: 2rem 2.3rem 3rem;
        font-size: 1.7rem;
    }

    .about-content h3 {
        font-size: 2.65rem;
    }

    .contact .btn-box.btns a {
        width: 13.5rem;
        height: 3.2rem;
        font-size: 1.6rem;
    }

    .content p {
        font-size: 1.3rem;
    }

    .about-img {
        width: 31.3rem;
        height: 31.3rem;
    }
}

@media (max-width: 462px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content .btn-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 310px;
        height: 40px;
    }

    .home-content .btn-box a {
        font-size: 1.8rem;
    }

    .home-content h1 {
        font-size: 5.2rem;
    }

    .home-content h3 {
        font-size: 2.8rem;
    }

    .projects {
        padding: 10rem 4% 5rem 5%;
    }

    .projects a {
        font-size: 1.2rem;
        width: 85%;
        height: 2.9rem;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .about-content p {
        font-size: 1.7rem;
        margin: 2rem 2.3rem 3rem;
    }

    .about-content h3 {
        font-size: 2.4rem;
    }

    .content p {
        font-size: 1.3rem;
    }

    .about-img {
        width: 29rem;
        height: 29rem;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content .btn-box {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 37px;
    }

    .home-content .btn-box a {
        font-size: 1.7rem;
    }

    .home-content h1 {
        font-size: 4.5rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content p {
        font-size: 1.7rem;
    }

    .about-content p {
        font-size: 1.5rem;
        margin: 2rem 2.3rem 3rem;
    }

    .about-content h3 {
        font-size: 2.1rem;
    }

    .project-row .project-column{
        width: 20rem;
    }

    .content p {
        font-size: 1.3rem;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}